<template>
  <div>
    <div>
      <img class="pict" src="../../public/ep.svg" />
    </div>
    <div class="buttons pad">
      <b-button type="is-success" outlined @click="updateDate()">
        Update date - {{ count }}
      </b-button>

      <b-button
        class="linApi"
        type="is-success"
        outlined
        @click="pullApiWind()"
      >
        Запись в БД, api wind
      </b-button>
      <b-button class="linBut" type="is-info">{{ pullApi }}</b-button>

      <b-button class="linApi" type="is-success" outlined @click="pullPSQL()">
        Получить данные с БД
      </b-button>
      <b-button class="linBut" type="is-info">{{ pullDB }}</b-button>

      <b-button class="linApi" type="is-success" outlined @click="load()">
        Benchmarks!!
      </b-button>
    </div>

    <b-table v-if="answer" :data="da">
      <b-table-column field="sourceId" label="Локация" centered v-slot="props">
        {{ props.row.sourceId }}
      </b-table-column>

      <b-table-column
        field="referenceTime"
        label="Время"
        centered
        v-slot="props"
      >
        {{ props.row.referenceTime }}
      </b-table-column>

      <b-table-column
        field="observations[0].value"
        label="Направление"
        centered
        v-slot="props"
      >
        {{ props.row.observations[0].value }}
      </b-table-column>
    </b-table>

    <div class="bott">
      <h1>{{ version }}</h1>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      da: [],
      count: 0,
      resTime: 0,
      pullApi: 0,
      pullDB: 0,
      answer: false,
      version: "oooppppaa",
    };
  },
  created() {
    this.version = "<branch>";
  },
  // mounted() {
  //   this.pullApiWind();
  // },
  methods: {
    updateDate() {
      this.pullApiWind();
      this.pullPSQL();

      this.count++;
    },

    pullApiWind() {
      var start = Date.now();
      this.resTime = 0;
      axios
        .get("/api/wind/update")
        .then((res) => {
          this.resTime = (Date.now() - start) / 1000;
          // this.da = res.data.WindObs;
          this.pullApi = res.data;
          // eslint-disable-next-line no-console
          console.log(this.resTime, res);
        })
        .catch((res) => {
          this.resTime = (Date.now() - start) / 1000;
          // eslint-disable-next-line no-console
          console.log(this.resTime, res);
        });
    },
    pullPSQL() {
      var start = Date.now();
      this.resTime = 0;
      axios
        .get("/api/wind/pullPSQL")
        .then((res) => {
          this.resTime = (Date.now() - start) / 1000;
          this.da = res.data.WindObs;
          this.pullDB = res.data.Duration;
          // eslint-disable-next-line no-console
          console.log("true", this.resTime, res);
          this.answer = true;
        })
        .catch((res) => {
          this.resTime = (Date.now() - start) / 1000;
          // eslint-disable-next-line no-console
          console.log("catch", this.resTime, res);
        });
    },
    load() {
      axios
        .get("/api/wind/load")
        .then((res) => {
          // eslint-disable-next-line no-console
          console.log("true", this.resTime, res);
        })
        .catch((res) => {
          // eslint-disable-next-line no-console
          console.log("catch", this.resTime, res);
        });
    },
  },
};
</script>

<style scoped>
.pad {
  margin: 0 5% 0 5%;
}
.linApi {
  width: 190px;
  padding: 0 0% 0 0%;
}
.linBut {
  width: 115px;
}
.pict {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 6%;
  height: 4%;
}
.bott {
  position: absolute;
  background-color: rgb(167, 167, 212);
  width: 100%;
  height: 6%;
  bottom: 0%;
  left: 0%;
}
</style>
